Project_git_lesson_22_03_23/*.sln
Project_git_lesson_22_03_23/x64/*
Project_git_lesson_22_03_23/.vs/*
Project_git_lesson_22_03_23/git_lesson_22_03_23/x64/*
Project_git_lesson_22_03_23/git_lesson_22_03_23/*.vc*
